<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>我的支持</title>
    <link rel="stylesheet" href="./bootstrap-3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="./stylesheets/style.css">
</head>
<body>
<div class="container-fluid personal" >
    <%- include('cmnheader')%>
    <div class="content">
        <div class="inner clearfix">
            <%- include('cmnsection')%>
            <div class="my-start-pro fl">
                <h2>我支持的</h2>
                <div class="pro-title-bar">
                    <span>项目信息</span>
                    <span>项目类型</span>
                    <span>支持人数</span>
                    <span>已筹金额</span>
                    <span>截止日期</span>
                    <span>项目详情</span>
                </div>
                <% if(group.length>0){ %>
                <% for(var i= 0,len = group.length; i<len; i++) {%>
                <div class="pro-item">
                    <div class="pro-info clearfix">
                        <p class="fl">项目名称：<span><%= group[i].proName||'暂无' %></span></p>
                    </div>
                    <ul class="pro-con">
                        <li><img src="./images/<%= group[i].img?JSON.parse(group[i].img)[0]:'noimg.jpg' %>" alt=""></li>
                        <li><%= group[i].proType||'暂无' %></li>
                        <li><%= group[i].supportNum||0 %></li>
                        <li><%= group[i].currentMoney||0 %></li>
                        <% var finish=new Date(group[i].finishTime),year=finish.getFullYear(),mon=finish.getMonth()+1,day=finish.getDate();%>
                        <li><%= year+'-'+mon+'-'+day %></li>
                        <li><a class="btn btn-sm btn-info J-detail" href="javascript:;">了解动态</a></li>
                    </ul>
                    <input type="hidden" value="<%= group[i].selfid %>">
                </div>
                <% } %>
                <% }else{ %>
                <div class="no-start-pro J-nopro">
                    <div class="no-pro-bg"></div>
                    <p>您还未支持过任何项目！</p>
                    <div class="start-btn-wrapper">
                        <a class='start-btn' data-con="去支持" href="scan">去支持</a>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</div>
<script src="/javascripts/jquery-2.1.3.js"></script>
<script src="/javascripts/mySupport.js"></script>
</body>
</html>